.brand-logo {
  position: relative;
  margin-bottom: 4rem;
  @include brand-logo(
    $width: 220px,
    $height: 32px,
    $image-url: "/images/sp-logo.svg"
  );
  a {
    display: inline-block;
  }
  @include after("data-description") {
    position: absolute;
    bottom: -6px;
    left: 0;
    transform: translateY(100%);
    font-size: __remify(12px);
    font-weight: normal;
    opacity: 0.6;
  }
}