.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: $sidebar-width;
  height: 100%;
  padding: $global-space * 2;
  background-color: $body-bg-color;
  border-right: 1px solid $border-color;
  z-index: 200;
  margin-left: -$sidebar-width;
  transition: $transition;
  @include breakpoint(min, large) {
    margin-left: 0;
  }

  &__toggler {
    &__backdrop {
      background-color: transparentize(white, 0.2);
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      transition: visibility 0.1s, opacity 0.3s;
      @include position (fixed);
    }
    &__input {
      display: none;
      position: fixed;
      left: 20px;
      top: 20px;
      z-index: 200;
      &:checked {
        & ~ .sidebar__toggler__backdrop {
          opacity: 1;
          visibility: visible;
        }
        & ~ .main {
          .sidebar {
            margin-left: 0;
          }
        }
      }
    }
    &__icon {
      display: flex;
      align-items: center;
      width: 48px;
      height: 48px;
    }
  }

}