//Color Library
$white: #FFFFFF;
$black: #000000;
$snow: #fafaf8;
$arctic: rgb(252, 247, 247);
$bus-yellow: #ffd900;
$yellow-munsell: #F1D00A;
$celtic-blue: #0366D6;
$light-gray: rgb(245,245,245);
$dark-gray: rgb(150,150,150);
$border-gray: rgb(240,240,240);
$raisin-black: #201E1F;
$crimson: #F01947;

// Color Styles
$primary-color: $crimson;
$secondary-color: $bus-yellow;
$tertiary-color: $celtic-blue;

$body-bg-color: white;
$content-bg-color: $white;

$body-text-color: $raisin-black;

$color-link: #05b !default;

$border-color: $border-gray; 

// Font Styles

$title-font: greycliff-cf, sans-serif;
$body-font: greycliff-cf, sans-serif;

$global-space: 1rem;

$border-radius: 6px;
$transition: 0.3s;

$sidebar-width: 300px;


