{{ partial "master-top.html" . }}
      
  <div class="content">
    
    {{ partial "mobile-header.html" . }}
    
    {{ partial "hero.html" . }}

    <div class="content__header" data-decorative-text="{{ .Params.Title }}">
      <h2 class="content__title">{{ .Params.Title }}</h2>
      <p class="content__description">{{ .Params.Description }}</p>
    </div>

    <div class="content__body">
      {{ .Content }}
      <ul>
        {{ range .Pages }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div><!-- .content__body -->

  </div><!-- .content -->

{{ partial "master-bottom.html" . }}