{{ partial "master-top.html" . }}
        
  <div class="content">
    
    {{ partial "mobile-header.html" . }}

    {{ partial "hero.html" . }}

    <div class="content__header" data-decorative-text="{{ .Params.Title }}">
      <h2 class="content__title">{{ .Params.Title }}</h2>
      <p class="content__description">{{ .Params.Description }}</p>
    </div>

    <div class="content__body">
      {{ .Content }}
      <ul class="cards cards--projects min-xlarge-2">
        {{ range .Pages }}
          <li class="card">
            <a class="card__link" href="{{ .Permalink }}">
              <figure class="card__figure">
                <img src="{{ .File.ContentBaseName }}/images/{{ .Params.thumbnail_image }}" alt="{{ .Params.thumbnail_image_alt }}">
              </figure>
              <div class="card__body">
                <h3 class="card__title">{{ .Title }}</h3>
                <p class="card__description">{{ .Description | truncate 100 }}</p> 
                {{ if .Params.label }}<div class="card__label">{{ .Params.label }}</div>{{ end }}
              </div>
            </a>
          </li>
        {{ end }}
      </ul>
    </div><!-- .content__body -->

  </div><!-- .content -->

{{ partial "master-bottom.html" . }}