{{ partial "master-top.html" . }}

  <div class="content">

    {{ partial "mobile-header.html" . }}
    
    {{ partial "hero.html" . }}

    <div class="content__header" data-decorative-text="{{ .Params.Title }}">
      <h2 class="content__title">{{ .Params.Title }}</h2>
      <p class="content__description">{{ .Params.quote }}</p>
    </div>

    <div class="content__body single">
      {{ .Content }}
    </div><!-- .content__body -->

    <div class="content__footer">
      <div class="tag-container">
        {{ if .Params.tags }}
          {{ range .Params.tags }}
              <div class="tag">{{ . }}</div>
          {{ end }}
        {{ end }}
      </div>
    </div><!-- .content__footer -->

  </div><!-- .content -->

{{ partial "master-bottom.html" . }}